@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;

}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.navbar div {
    font-size: 18px;
    font-weight: bold;
}

.hero-sac{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height:450px;
}

.hero-sac img{
    margin-bottom: 10px;
}

.hero-sac .btn{
    background-color: black;
    color: white;
    font-size: 12px;
}

.About-me{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    height: 900px;
    margin-top: 70px;
    padding-bottom: 50px;
}

.about-title{
    text-align: center;
    margin-top: 30px;
}

.about-title p,.discription p, .hero-sac p{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.first, .sceond, .third{
    display: flex;
    margin-left: 60px;
    margin-right: 120px;
    margin-top: 30px;
    justify-content: space-around;
    padding: 20px;
}

.discription{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}